/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  --color-r:#C70039;
	--color-b:#ffffff;
	--color-gc:#d4d4d4;
	--color-blue-dark:#08425C;
	--color-blue-light:#0798E1;
	--color-black:#000000;
	--color-graylight:#858585;
	--color-red-dark:#860000;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

body{
  margin: 0rem;
  padding: 0rem;
  background-color: rgb(0, 0, 0);
  /* background-image: url(image/bg-figura.png); */
}

.cabecera{
    width: 100%;
    padding: 0.5rem 0rem 0.5rem 2rem;
    margin: 0;
    /* background-color: var(--color-b); */
    background-image: linear-gradient(to bottom, #ffffff,#ffffff, #000000);
}

.fila-head{
  color: #ffffff;
}

.logo-head{
    width: 13rem;
}

.anclas{
  display: inline-flex;
  margin-right: 3rem;
  margin-left: auto;
}

.volver-ancla{
    font-size: 1.2rem;
    background-color: #ffffff00;
    background: transparent;
    margin-left: auto;
    color: var(--color-r);
    text-decoration: none;
    margin: 2rem 0rem;
    padding: 0.4rem 3rem;
    border-radius: 2rem 0.4rem;
    transition: 0.3s ease-in-out;
}

.volver-ancla:hover{
  background-color: #860000;
  color: white;
}

.sec-1{
    margin: 0;
    padding: 0;
    font-size: 2rem;
}

.fila-1{
    
}

.col-fil1{
  padding: 0.4rem;
  color: #ffffff;
  /* padding: 1rem 0rem 1rem 1rem;
  text-align: left; */
  font-size: 1.2rem;
}

.fila-2{
  
}

.col-fil2{
  color: #ffffff;
  padding: 1rem 0rem 1rem 1rem;
  text-align: left;
}

.opinion{
  border-radius: 0.5rem;
  padding: 0.3rem;
  width: 95%;
}

.fila-3{

}

.col-fil3{
  /* padding: 1rem 0rem 1rem 1rem;
  text-align: left; */
}

.table-head{
  font-size: 2rem;
  padding: 1rem 1rem 2rem 1rem;
}

.table-quest{
    margin: auto;
    margin-top: 2rem;
    width: 90%;
    text-align: center;
    /* border: 0rem solid black; */
    table-layout: fixed;
}

.col-fila2{
    width: 25%;
}

.button-submit{
  font-weight: 700;
  font-size: 1.4rem;
  color: #ffffff;
  margin: 2rem 0rem;
  padding: 0.6rem 4rem;
  border-radius: 3rem 0.4rem;
  background-color: var(--color-r);	
  border: none;
  transition: 0.3s ease;
}

.button-submit:hover{
  background-color: #ffffff;
  color: #000000;
}

th, td{
	/* border: 0.1rem solid black; */
  border-radius: 0.2rem 0.7rem;
}


.bg-blue{
    background-color: blue;
}

.bg-red{
    background-color: tomato;
}

.bg-red1{
  background-color: #858585;
}

.bg-red1-1{
  background-color: #7c0e0e80;
}

.bg-red2{
  background-color: #4b1414;
}

.bg-red2-2{
  background-color: #6565653f;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.dis-flex{
    display: flex;
}